.maincontainer{
  padding-top: 50px;
  background-color: #e1d2f7;
}
.element.style {
  padding: 20px 10px 0;
  overflow: auto;
  background: #390367;
}
.modal {
    width: 100% !important;
    height: 100% !important;
    top: 0;
    padding: 0;
  }
  
  .modalBody {
    height: calc(100% - 55px); /* Adjust height to exclude header/footer */
    overflow-y: auto;
    padding: 20px;
  }
  
  .headingContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .heading {
    font-size: 1.125rem;
    font-weight: 600;
    padding: 0px 80px !important;
  }
  
  .questionContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .questionText {
    flex: 1;
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .userAnswer {
    font-size: 0.875rem;
    font-weight: 400;
    color: grey !important;
  }
  
  .marksInput {
    width: 5%;
    margin-left: 1rem;
  }
  
  .updateButton {
    margin-top: 1rem;
    background-color: #8356a9 ;
    color: white;
  }

  /* Tabs.module.css */

.tabLabel {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; /* rounded-md */
  font-weight: 500;
}

.selectedTab {
  background-color: #8956a9; /* bg-blue-500 */
  color: white;
}

.unselectedTab {
  background-color: white; /* Light background for unselected tabs */
  color: #4b5563; /* text-gray-600 */
}
.title {
  font-size: 24px;
  font-weight: bold;
  color: #4b0082; /* Light Purple */
  text-transform: uppercase;
  margin-bottom: 20px;
}
.modaltitle{
  color: #4b0082;
   font-weight: bold;
   font-size: 16px;
   margin-left: 0rem;
   margin-top: 0rem;
   padding: 20px 0px 10px;  
 }

 .reviewtable{
  background-color: #031d66 !important;
  color: white !important; 
  border-radius: 0 !important;
 }

 .reviewtable thead > tr > th{
  background-color: #031d66 !important;
  color: white !important; 
  border-radius: 0 !important;
 }