/* layout.module.css */
.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  box-shadow: 0 4px 6px rgba(228, 231, 229, 0.1);
  padding: 1.25rem;
  border-radius: 10 rem;
  border-top: 4px solid #9b5de5;
}

.title {
  font-size: 1.25rem;
  margin: 1.5rem 0;
}

.highlight {
  color: #9b5de5;
  font-weight: 800;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

.button {
  background-color: #9b5de5;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #7a4bb2;
}

.error {
  background-color: #f56565;
  color: white;
  width: fit-content;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  margin-top: 0.5rem;
}

/* Uncomment and use for the register link if needed
.link {
  font-size: 0.875rem;
  text-align: right;
  margin-top: 0.75rem;
}

.underline {
  text-decoration: underline;
}
*/
