.container {
    /* padding: 20px 20px 20px 20px; */
    /* background-color: #FFFFFF !important; */
    margin-top: 80px;
    /* min-height: 90vh; */
  }
  .tableheading{
    background-color: #4b0082 !important;
  }
  .title {
    font-size: 21px;
    font-weight: bold;
    /* color: #240159 ;  */
    text-transform: uppercase;
    margin-bottom: 14Px;
    /* align-items: center; */
    /* margin-top: -5px; */
  }

  .customtable{
    color: white !important; 
  }

  .customtable thead > tr > th {
    background-color: #7700CC !important;
    color: white!important;
  }
  
  
  
  .startButton {
    background-color: #8356a9  !important; /* Ant Design primary blue */
    border-color: #4b0082;
    color: #fff;
  }
  .modaltitle{
   color: #240159;
    font-weight: bold;
    font-size: 16px;
    margin-left: 0rem;
    margin-top: 0rem;
    padding: 20px 0px 10px; 
  }
