#myjoditEditor {

    .jodit-wysiwyg {
        padding-left: 10px;

    }

    ul {
        list-style: inside;
    }

    ol {
        list-style: inside;
        list-style-type: number;
    }

    td {
        border: solid 1px;
    }
}