.container {
    max-width: 1100px;
    /* margin: 40px auto; */
    /* padding: 20px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  }
  
  .title {
    /* font-size: 1rem; */
    font-weight: 600;
    margin-bottom: 32px;
    color: #1a1a1a;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
  }
  
  .card {
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 14px;
    padding-inline: 24px;
    padding-block: 10px;
    text-align: left;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
    border-left: 5px solid #3b82f6
  }
  
  .card:hover {
    border-color: #4f46e5;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    transform: translateY(-2px);
  }
  
  .cardTitle {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #1a1a1a;
  }
  
  .cardDesc {
    font-size: 0.9rem;
    color: #555;
    line-height: 1.4;
  }
  